server:
  port: 8085

spring:
  application:
    name: driver-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5800}/driver_service
    username: ${DB_USERNAME:mobility_user}
    password: ${DB_PASSWORD:mobility_password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:mobility_redis_password}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics






