server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      routes:
        # User Service Routes
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        
        # Vehicle Service Routes
        - id: vehicle-service
          uri: lb://vehicle-service
          predicates:
            - Path=/api/vehicles/**
        
        # Booking Service Routes
        - id: booking-service
          uri: lb://booking-service
          predicates:
            - Path=/api/bookings/**
        
        # Pricing Service Routes
        - id: pricing-service
          uri: lb://pricing-service
          predicates:
            - Path=/api/pricing/**
        
        # Payment Service Routes
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
        
        # Driver Service Routes
        - id: driver-service
          uri: lb://driver-service
          predicates:
            - Path=/api/drivers/**
        
        # Review Service Routes
        - id: review-service
          uri: lb://review-service
          predicates:
            - Path=/api/reviews/**
        
        # Maintenance Service Routes
        - id: maintenance-service
          uri: lb://maintenance-service
          predicates:
            - Path=/api/maintenance/**
        
        # Location Service Routes
        - id: location-service
          uri: lb://location-service
          predicates:
            - Path=/api/locations/**
      
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            maxAge: 3600

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always

